.footer {
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    box-shadow: 0 0px 5px #888888;
    background: linear-gradient(turquoise, darkblue);
    color: white;
    z-index: 1;
}