.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content {
    width: 50%;
}

h1 {
    margin: 10px;
}

p {
    margin: 10px;
}